html {
    font-size: medium;
    background-color: #111D4A;
    font-family: 'Poppins', sans-serif;
}
body {
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}
#container {
    background-color: #EFF1F3;
    width: 50%;
    margin: auto;
    margin-top: 6%;
    padding: 3%;
}
.heading {
    font-weight: bold;
}
.grid-container {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    padding: auto;
}
#name {
    font-size: xx-large;
    font-weight: bolder;
}

